.topmargin-100{
	margin-top: 100px;
}

.topmargin-150{
	margin-top: 150px;
}

.min-height520{
	min-height: 520px;
}

.white{
	color: white !important;
}

.title-section {
	font-size: 40px !important;
	font-weight: 200 !important;
	font-family: 'Muli', sans-serif !important;
	text-align: justify;
}

.content-section{
	font-size: 15px !important;
	font-weight: 200 !important;
	font-family: 'Muli', sans-serif !important;
}

.title-section2 {
	font-size: 40px !important;
	font-weight: 200 !important;
	color: #00c613 !important;
	font-family: 'Muli', sans-serif !important;
}


#grad1 {
  
    background: #14a44d; /* For browsers that do not support gradients */    
    background: -webkit-linear-gradient(left, #14a44d , #01c515); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right,  #14a44d, #01c515); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right,  #14a44d, #01c515); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #14a44d , #01c515); /* Standard syntax (must be last) */
}

#grad2 {
  	
    background: #14a44d; /* For browsers that do not support gradients */    
    background: -webkit-linear-gradient(left, #14a44d , #01c515); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right,  #14a44d, #01c515); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right,  #14a44d, #01c515); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #14a44d , #01c515); /* Standard syntax (must be last) */
}

#grad3 {
  	height: 150px;
    background: #14a44d; /* For browsers that do not support gradients */    
    background: -webkit-linear-gradient(left, #14a44d , #01c515); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right,  #14a44d, #01c515); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right,  #14a44d, #01c515); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #14a44d , #01c515); /* Standard syntax (must be last) */
}


.google-badge{
	width: 150px;
	margin-top: 50px;
}

.google-badge2{
	width: 150px;
	margin-top: 20px;
}
.logoSection{
	width: 100px;
}

.widthMax{
	width: 100%;
}

.vessel-imgsection3 {
	overflow: hidden;
}

.vessel-imgsection4 {
	overflow-x: hidden;
}



.imgsection3 {
	max-width: none !important;
}

.img-size{
	max-width: 120% !important;
}

.img-size2{
	max-width: 140% !important;
	    margin-left: -50%;
}

.img50{
	width: 50% !important;
	margin-left: 25%;
}


.bg-section2{
	    position: absolute !important;
    bottom: 0;
}

.skew {
	height: 400px;
	background-color: #77CC64;
	padding: 60px 0px 0px 0px;
 	-webkit-transform: skew(0, -5deg);
  	-ms-transform: skew(0, -5deg);
 	transform: skew(0, -5deg);

 	background: #14a44d; /* For browsers that do not support gradients */    
    background: -webkit-linear-gradient(left, #14a44d , #01c515); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right,  #14a44d, #01c515); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right,  #14a44d, #01c515); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #14a44d , #01c515); /* Standard syntax (must be last) */
  
}

.skew-wrap{
	
	height:500px;
	background-color: #77CC64;
	-webkit-transform: skew(0, 5deg);
  	-ms-transform: skew(0, 5deg);
  	transform: skew(0, 5deg);

  	background: #14a44d; /* For browsers that do not support gradients */    
    background: -webkit-linear-gradient(left, #14a44d , #01c515); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right,  #14a44d, #01c515); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right,  #14a44d, #01c515); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #14a44d , #01c515); /* Standard syntax (must be last) */
}

.vessel-lastSession{
	margin-top: -100px !important;
}

.last-logo{
	width: 20px;
}

.bg-footer {
	background-color: #04783a !important;
}

.icon-facebook{
	    color: white !important;
}

.icon-twitter {
	 color: white !important;
}
.icon-gplus {
	color: white !important;
}

#stat-table-head {
	background-color: #01c515 !important;
	color: white;
	font-weight: 200 !important;
	font-family: 'Muli', sans-serif !important;
}

table,th {
	font-weight: 200 !important;
    font-family: 'Muli', sans-serif !important;
}


/* ----------------------------------------------------------------
	CSS Specific to the One Page Module

	Some of the CSS Codes have been modified from the Original
	style.css File to match the Minimal Styling of this Module

	Version: 1.0
-----------------------------------------------------------------*/



/* ----------------------------------------------------------------------------
	Header
---------------------------------------------------------------------------- */

#header { border-bottom: 0; }

#header #header-wrap {
	z-index: 199;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: #01c515;
	-webkit-transition: height .4s ease, background-color .4s ease, opacity .3s ease;
	-o-transition: height .4s ease, background-color .4s ease, opacity .3s ease;
	transition: height .4s ease, background-color .4s ease, opacity .3s ease;
}

.dark #header.sticky-header:not(.transparent-header) #header-wrap:not(.not-dark), .dark #header.sticky-header.transparent-header #header-wrap:not(.not-dark), .dark #header.transparent-header.floating-header .container, .dark #header.transparent-header.floating-header.sticky-header .container, #header.dark.sticky-header:not(.transparent-header) #header-wrap:not(.not-dark), #header.dark.sticky-header.transparent-header #header-wrap:not(.not-dark), #header.dark.transparent-header.floating-header .container, #header.dark.transparent-header.floating-header.sticky-header .container, .dark .responsive-sticky-header #header-wrap, .responsive-sticky-header.dark #header-wrap {
    background-color: #01c515 !important;
}



#header.full-header #header-wrap:not(.sticky-header)  { border-bottom: 0; }

#header.transparent-header:not(.sticky-header) #header-wrap { background-color: transparent; }

#header.transparent-header + #slider,
#header.transparent-header + #page-title.page-title-parallax,
#header.transparent-header + #google-map,
#slider + #header.transparent-header {
	top: -70px;
	margin-bottom: -70px;
}

#header.full-header #logo { border-right: 0; }

#header.full-header #primary-menu > ul {
	padding-right: 0;
	margin-right: 0;
	border-right: 0;
}


#header.show-on-sticky #header-wrap {
	opacity: 0;
	pointer-events: none;
}

#header.show-on-sticky.sticky-header #header-wrap {
	opacity: 1;
	pointer-events: auto;
}


#header,
#header-wrap,
#logo,
#logo img,
#primary-menu:not(.style-2),
#primary-menu:not(.style-2) > ul {
	height: 70px;
	-webkit-transition: height .4s ease, opacity .3s ease;
	-o-transition: height .4s ease, opacity .3s ease;
	transition: height .4s ease, opacity .3s ease;
}


/* Sticky Header
---------------------------------------------------------------------------- */

#header.sticky-header #header-wrap {
	box-shadow: none;
	border-bottom: 1px solid #F5F5F5 !important;
	-webkit-backface-visibility: hidden;
}


/* Side Header
---------------------------------------------------------------------------- */

@media (min-width: 992px) {

.side-header #header #header-wrap { position: relative; }

.side-header #header,
.side-header #header-wrap { height: 100%; }

.side-header #header-wrap { width: 300px !important; }

.side-header #logo,
.side-header #logo img,
.side-header #primary-menu:not(.style-2),
.side-header #primary-menu:not(.style-2) > ul { height: auto; }

}


/* Primary Menu
---------------------------------------------------------------------------- */

#primary-menu ul li a {
	height: 70px;
	line-height: 70px;
	padding: 0 22px;
	font-size: 12px;
	font-weight: 400;
	letter-spacing: 3px;
}


/* Side Panel
---------------------------------------------------------------------------- */

body.side-push-panel #header .container { right: 0; }

body.side-push-panel.side-panel-open #header .container { right: 300px; }

#side-panel-trigger {
	margin-top: 25px;
	margin-bottom: 25px;
}


/* ----------------------------------------------------------------------------
	Page Section
---------------------------------------------------------------------------- */

.page-section { padding: 120px 0; }


/* ----------------------------------------------------------------------------
	Heading Block
---------------------------------------------------------------------------- */

.heading-block h2 {
	font-weight: 500;
	letter-spacing: 3px;
	font-family: 'Roboto', sans-serif;
}


/* ----------------------------------------------------------------------------
	Portfolio Overlay
---------------------------------------------------------------------------- */

.portfolio-overlay { background-color: rgba(255,255,255,0.9); }

.portfolio-overlay .portfolio-desc h3 {
	font-size: 22px;
	font-weight: 300;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.portfolio-overlay .portfolio-desc h3 a {
	color: #333 !important;
	text-shadow: none;
}

.portfolio-overlay .portfolio-desc span {
	margin-top: 12px;
	text-transform: uppercase;
	font-size: 14px;
	letter-spacing: 1px;
	font-weight: 300;
}

.portfolio-overlay .portfolio-desc span a {
	color: #999 !important;
	text-shadow: none;
}


/* ----------------------------------------------------------------------------
	Buttons
---------------------------------------------------------------------------- */

.button.button-border {
	font-weight: 400;
	letter-spacing: 2px;
	font-size: 13px;
}

.button.button-border.button-large {
	font-size: 15px;
}

.button.button-border.button-light {
	border-color: #F9F9F9;
	color: #F9F9F9;
}

.button.button-border.button-light:hover {
	background-color: #F9F9F9;
	color: #333;
	text-shadow: none;
}

.button.button-border.button-circle { border-radius: 20px; }

.button.button-border.button-large.button-circle { border-radius: 23px; }


/* More Link
---------------------------------------------------------------------------- */

.more-link {
	font-weight: 400;
	border-bottom-width: 1px;
	font-style: normal;
}

.more-link i.icon-angle-right {
	position: relative;
	top: 2px;
	margin-left: 3px;
}


.link-border {
	font-weight: 600;
	border-bottom: 3px solid #1ABC9C;
	-webkit-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}

.link-border:hover { border-color: #FFF; }


/* ----------------------------------------------------------------------------
	Team & Testimonials
---------------------------------------------------------------------------- */

.team-title h4 {
	font-weight: 600;
	font-size: 17px;
	letter-spacing: 2px;
}

.team-title span {
	font-style: normal;
	color: #999;
	text-transform: uppercase;
	font-size: 14px;
	letter-spacing: 1px;
	margin-top: 2px;
}

.team-social-icons {
	position: absolute;
	width: 100%;
	bottom: 20px;
}

.dark .team-overlay:before { background-color: rgba(0,0,0,0.9); }

.parallax .fslider * { -webkit-backface-visibility: hidden !important; }

.parallax .fslider .flex-control-paging * { -webkit-backface-visibility: visible !important; }

.parallax .testimonial .testi-content p {
	line-height: 1.6 !important;
	font-size: 24px;
	letter-spacing: 1px;
	font-weight: 300;
	font-family: 'Source Sans Pro', sans-serif;
	font-style: normal;
}

.parallax .testimonial .testi-meta {
	margin-top: 20px;
	font-size: 15px;
	letter-spacing: 2px;
	font-weight: 500;
}

.parallax .testimonial .testi-meta span {
	font-weight: 300;
	font-size: 14px;
	letter-spacing: 1px;
}

.green-text {
	color : green;

}

.red-text{
	color: red;
}

.grey-text{
	color : grey;
}



.searchbox{
	height: 40px !important;
	border-radius: none;
	width: 200px;
	font-size: 13px;
}


.diplayinline {
	display: inline-block;
}





/* ----------------------------------------------------------------------------
	Dark
---------------------------------------------------------------------------- */


.dark #header.sticky-header #header-wrap,
#header.sticky-header.dark #header-wrap { border-bottom-color: rgba(255,255,255,0.1) !important; }


/* ----------------------------------------------------------------------------
	Responsive
---------------------------------------------------------------------------- */


@media (max-width: 991px) {

	#logo { height: 70px !important; }

	#header { min-height: 70px; }
	#header-wrap {
		background-color: #01c515 !important;
	}

	#header.transparent-header:not(.sticky-header) #header-wrap {
		background-color: #01c515;
		border-bottom: 1px solid #EEE;
	}

	#header.transparent-header.dark:not(.sticky-header) #header-wrap {
		background-color: #01c515;
		border-bottom-color: rgba(255,255,255,0.1) !important;
	}

	#header.transparent-header:not(.hidden) + #slider,
	#header.transparent-header:not(.hidden) + #page-title.page-title-parallax,
	#header.transparent-header:not(.hidden) + #google-map,
	#slider + #header.transparent-header:not(.hidden) {
		top: 0;
		margin-bottom: 0;
	}

	#primary-menu-trigger { top: 10px !important; }

	#side-panel-trigger {
		margin: 25px 0 !important;
		right: 15px !important;
	}

	.dark #header.transparent-header #header-wrap,
	.dark #header.semi-transparent #header-wrap,
	#header.dark.transparent-header #header-wrap,
	#header.dark.semi-transparent #header-wrap {
		background-color: #01c515;
		border-bottom-color: rgba(255,255,255,0.1);
	}

}

