.portlet.box.purple {
    border: 1px solid #01c515 !important;
    border-top: 0;
}
.portlet.box.purple>.portlet-title, .portlet.purple, .portlet>.portlet-body.purple {
    background-color: #01c515;
}

/*input[type="text"]{
	width: 150px !important;
}*/

/*select {
	width: 100px !important;
}*/
