
#grad1 {
  
    background: #14a44d; /* For browsers that do not support gradients */    
    background: -webkit-linear-gradient(right, #126D36 , #4C9853); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #126D36 , #4C9853); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #126D36 , #4C9853); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #126D36 , #4C9853); /* Standard syntax (must be last) */
}

    

.login .content .form-control {
    background-color: #3CC755!important;
    border: 1px solid #3CC755 !important; 
    height: 43px;
    color: #d9ecf9;
}

.login .content .form-control:focus {
    
    border: 1px solid white !important; 
   
}

.btn.red:not(.btn-outline) {
    color: #fff;
    background-color: #E26C74;
    border-color: #E26C74;
}

.btn.red:not(.btn-outline):hover {
    color: #fff;
    background-color: #E04B55;
    border-color: #E04B55;
}

.login-options {
    margin-top: 30px;
    padding-top: 20px;
    padding-bottom: 50px;
    border-top: 1px solid white  !important;
    border-bottom: 0px solid #69a0c4  !important;
}