

.heads{

height: 33px;
border-bottom: solid 1px grey;

}

.header-disc{
	color: hsla(208, 4%, 17%, 0.54) !important;
    font-size: 10px !important;
    font-family: helvetica !important;
    font-weight: 700 !important;

}

.header-disc:hover {
	text-decoration: none !important;
}

.skew{
	 padding: 0px 3px;
    color: grey;
    font-size: 15px;

}
#search-bar {
	list-style-type: none;
	width: 100%;
}

#search-bar > li > p {
	float: left;
    font-size: 65%;
    font-weight: 900;
    color: hsla(208, 4%, 17%, 0.54) !important;
    margin-bottom: 0px;
    /* height: 40px; */
    padding: 5px 10px;
    margin-top: 5px;
}

.border-right {
	border-right: solid 1px grey;
}

input[type=search] { 	
	border-radius: 50px;
	          /* Irrelevant, I guess */
}

.container-1{
  width: 100%;
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
}

.container-1 input#search{
	margin: 3px;
	width: 50%;
  	height: 24px;
    background: white;
    border: none;
    font-size: 8pt;
    float: left;
    color: #63717f;
    padding-left: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: solid 1px grey;
}

.container-1 input#search:focus{
	outline: 0;
}

.title-page {
	color: grey;
	margin-top: 20px;
    font-size: 30px;
    font-weight: 900;
    font-family: helvetica;
}

.sub-title-page {
		    display: inline;
    font-size: 65%;
    font-weight: 900;
    color: hsla(208, 4%, 17%, 0.54) !important;
    margin-bottom: 0px;
    /* height: 40px; */
    padding: 5px 10px;
    margin-top: 3px;
}
.nav-table{
	background-color: white;
	display: inline;
    color: grey;
    border: solid 1px #00A1FF;
    padding: 20px 60px;
    font-size: 10px;
    transition : 0.3s;
}
.nav-table:hover {
	background-color:#00A1FF;
	text-decoration: none;
	color: white;

}
.nav-tabs>li.active>button {
	background-color:#00A1FF;
	text-decoration: none;
	color: white;
}
.nav-table:focus{
	outline: 0;
	background-color:#00A1FF;
	text-decoration: none;
	color: white;
}

.margin-left-nav-table{
	    margin-left: -1%;
}

.select_join {
  width: 100%;
  height: 28px;
  overflow: hidden;
  background: url('http://s24.postimg.org/lyhytocf5/dropdown.png') no-repeat left #FEFEFE;
  border: rgba(128, 128, 128, 0.55) 1px solid;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: inset 0px 0px 10px 1px #FEFEFE;
  box-shadow: inset 0px 0px 10px 1px #FEFEFE;
}
.select_join select {
  background: transparent;
  width: 100%;
  color:grey;
  border: 0;
  border-radius: 0;
  height: 28px;
  -webkit-appearance: none;
  padding-left: 40px;
  font-size: 12px;
}
.select_join select:focus {
  outline: none;
}

.select_join option {
	font-size: 15px;
}

.border-top-blue {
	border-top: solid 1px #00A1FF;
}

.date {
	
	color: grey;
    margin-top: 20px;
    font-size: 40px;
    font-weight: 200;
    font-family: helvetica;
}

.edit-delete{
	display: inline;
	margin-right: 15px;
	color: grey;
    margin-top: 20px;
    font-size: 12px;
    font-weight: 900;
    font-family: helvetica;
}
.iconed{
	margin-right: 10px !important;
    font-size: 15px !important;
}
#sample_editable_1{
	width: 100%;
	margin-top: 25px;
	margin-bottom: 25px;
}

#sample_editable_1,th,td{
	border: solid 1px white !important;
	font-size: "helvetica" !important;

}

table,th,td{
	text-align: center !important;
}

#sample_editable_1,th {
	background-color: #01c515;
	color:white;
	font-size:12px !important;
	font-weight: 200 !important; 
	/*padding: 5px 10px !important;*/
	vertical-align: middle !important;

}

#planning-table, td {
	background-color: rgba(128, 128, 128, 0.18);
	font-color:white;
	color: grey;
	font-weight: 500; 
	height: 20px;
	padding: 5px 5px !important;
	 vertical-align: middle !important;
	 font-size:10px !important;

}

.circle {
	width: 13px;
	height: 13px;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	margin: 0 auto;
}

.red{
	background: red;
}

.green{
	background: green;
}

.yellow{
	background: yellow;
}

.append-button {
	width: 150px;
	height: 40px;
	background-color: rgba(128, 128, 128, 0.52);
	color: white;
	border: none;
	border-radius: 3px;
	font-weight: 200; 
	font-size: 13px;
	transition:0.3s;
}

.append-button:hover{
	background-color: rgba(128, 128, 128, 0.8);
}

.append-button:focus{
	outline: 0;
}

.iconAppend{
	margin-right: 25px !important;
    font-size: 15px !important;
}
input[type="text"]{
	width: 100px !important;
}

input[type="text"]:focus {
	
	outline: 0;	
}
.drawingInputText {
	width: 70% !important;
}

input[type="number"]{
	width: 50px;
}


input[type="date"]{
	line-height: 10px !important;
}
