.summary{
	
	overflow: scroll;
	margin: 10px 0px !important;
	

}

.nomargin{
    margin: 0px !important;

}

.bordered-Content {
	border-top: solid 1px #32c5d2!important;
	border:solid 1px #e7ecf1;
	border-bottom: none!important;
}

.borderBtm {
	border-bottom: solid 1px;
}