

.height40{
    height: 40px !important;
}
.margin-top100{
      margin-top: 100px !important;
}
.margin-top150{
      margin-top: 150px !important;
}
.margin-top75{
      margin-top: 75px;
}

.margin-top350{
      margin-top: 350px !important;
}

.margin-top50{
      margin-top: 50px !important;
}
.margin-top5{
      margin-top: 5px;
}
.margin-top10{
      margin-top: 10px;
}
.margin-top25{
      margin-top: 25px;
}
.marginauto{
  margin: 0 auto !important;
}

.margin-top0{
      margin-top: 0px !important;
}

.margin-top-50{
      margin-top: -50px;
}

.margin-top-55{
      margin-top: -55px;
}

.margin-bottom5{
      margin-bottom: 6px !important;
}
.margin-bottom10{
      margin-bottom: 10px;
}
.margin-bottom25{
     margin-bottom: 25px !important;

}

.margin-bottom50{
     margin-bottom: 50px !important;

}

.margin-bottom100{
     margin-bottom: 100px !important;

}

.padding10{
  padding: 10px !important;
}
.padding-top25{
  padding-top: 25px !important;
}

.padding-top50{
  padding-top: 50px !important;
}

.padding-top3{
      padding-top: 3px !important;
}

.padding-top15{
  padding-top: 15px !important;
}

.padding-top20{
  padding-top: 20px !important;
}

.padding-top40{
  padding-top: 40px !important;
}

.padding-bottom15{
  padding-bottom: 15px !important;
}


.nomargin{
    margin: 0px !important;
}
.nomargin-updown{
      margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.nopadding-side {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.padding-side50 {
    padding-left: 50px !important;
    padding-right: 50px !important;
}

.borer-blue{
  border: solid 1px rgba(0, 146, 224, 0.55);
}

.bordertop-blue {
   border-top: solid 1px #00A1FF !important;
}

.borderbottom-blue {
   border-top: solid 1px #00A1FF !important;
}

.btn.green:not(.btn-outline) {
    color: #FFF;
    background-color: #01c515 !important;
    border: solid 1px #01c515 !important;
}

.btn.green:not(.btn-outline):hover {
    color: #FFF;
    background-color: #079A16 !important;
    border: solid 1px #079A16 !important;
}

.btn.btn-outline.green {
    border-color: #01c515 !important;
    color: #01c515 !important;
    background: 0 0;
}

.btn.btn-outline.green:hover{
     background-color: #01c515!important;
     color: white !important;
    }

.boxShaddow{
  box-shadow: 5px 5px 5px #888888;
}

.right{
    text-align: right !important;
}

.left{
    text-align: left !important;
}

.center{
    text-align: center !important;
}

.height-max{
    height: 100%;
}
.height1000{
  height: 1000px;
}

.softgrey-background{
      background-color: #f7f7f7 !important;
}

.grey-background{
  background-color: rgba(128, 128, 128, 0.18);
}

.oldgrey-background{
      background-color: rgb(80, 79, 79);
}

.background-white{
  background-color: white;
}


/*SIDENAV*/
.bg-lightGreen {
  background-color: #475A4D !important;

}
/*.page-header.navbar .menu-toggler {
    background-image: url('assimg/sidebar_inline_toggler_icon_light.jpg') !important;
}*/

#grad1 {
  
    background: #14a44d; /* For browsers that do not support gradients */    
    background: -webkit-linear-gradient(left, #14a44d , #01c515); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right,  #14a44d, #01c515); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right,  #14a44d, #01c515); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #14a44d , #01c515); /* Standard syntax (must be last) */
}

#grad2 {
    
    background: #14a44d; /* For browsers that do not support gradients */    
    background: -webkit-linear-gradient(left, #14a44d , #01c515); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right,  #14a44d, #01c515); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right,  #14a44d, #01c515); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #14a44d , #01c515); /* Standard syntax (must be last) */
}

#grad3 {
    height: 150px;
    background: #14a44d; /* For browsers that do not support gradients */    
    background: -webkit-linear-gradient(left, #14a44d , #01c515); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right,  #14a44d, #01c515); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right,  #14a44d, #01c515); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #14a44d , #01c515); /* Standard syntax (must be last) */
}
.page-header.navbar .top-menu 
.navbar-nav>li.dropdown-language>
.dropdown-toggle>.langname, .page-header.navbar .top-menu 
.navbar-nav>li.dropdown-user>.dropdown-toggle>.username, 
.page-header.navbar .top-menu .navbar-nav>li.dropdown-user>.dropdown-toggle>i {
    color: #FFFFFF !important;
}

.page-header.navbar .top-menu .navbar-nav>li.dropdown .dropdown-toggle>i {
    color: #FFFFFF !important;
  }
.navbar-nav>li>a:hover {
    background-color: green !important;
}
.navbar-nav>li>a:focus {
    background-color: green !important;
}
.navbar-nav>li>a:visited {
    background-color: green !important;
}




/*.page-sidebar, .page-sidebar-closed.page-sidebar-fixed .page-sidebar {
    background-color: #14a44d !important;
}
*/


.page-sidebar .page-sidebar-menu>li.heading>h3, 
.page-sidebar-closed.page-sidebar-fixed 
.page-sidebar:hover .page-sidebar-menu>li.heading>h3 {
    color: #FFFFFF !important;
}

.sidenav {
    height: 100%;
    width: 50px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background: rgba(49, 47, 47, .8);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 0px 0px 0px 13px;
    text-decoration: none;
    font-size: 15px;
    color: #818181;
    display: block;
    transition: 0.3s;
    font-weight:bold;
}


.sidenav a:hover{
    color: #5A5656 !important;
     text-decoration: none !important;
}

.sidenav a:active{
    color: #5A5656 !important;
     text-decoration: none !important;
}


.sidenav a:focus{
    color: #f1f1f1 !important;
     text-decoration: none !important;
}
.closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px !important;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
    margin-left: 70px;
}

#main2 {
    transition: margin-left .5s;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

/*@media only screen and (max-width: 1400px) {
    .sidenav {
        width: 100px;
    }
}
*/
    
.vessel-logo{
    height: 60px;
    padding: 10px;
    background-color: #333C3B;
}


.logo {
        width: 70px !important;
    margin: 5px 0 0px 0px !important;
}

#sidebarMenu {
     list-style-type: none;
     padding-left: 0 !important;

}

#sidebarMenu > li {


}

#sidebarMenu > li > a {
   padding: 10px 0 8px 0px !important;
    height: 45px;
    background: rgba(49, 47, 47, 1);
    margin-top: 1px;
    font-size: 12px !important;
    width: 220px;
}

#sidebarMenu > li > a:hover{
    background: rgba(49, 47, 47, .3);
    color: white !important;
    text-decoration: none;
}

.iconBar {
    font-size:24px;
    margin-left: 10px;
}

.spanBar {
    margin-left: 20px;
    font-size: 15px;
    font-weight: 200;
    letter-spacing: -1px;
    font-family: helvetica;
}

.circular {
    width: 300px;
    height: 300px;
    border-radius: 150px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
    background: url(http://img05.deviantart.net/974a/i/2015/010/8/2/monkey_d_luffy_render_9_by_roronoaroel_d5l75aj_by_trishas1law-d8dfyay.png) no-repeat;
    }

#slideIMG{
    width: 177px;
    height: 200px;
    text-align: center;
    overflow-x: hidden;
    transition: 0.5s;
    margin-left: -200px;
}

.img-circle{
    width: 40px !important;
    
}

.managerName{
    font-size: 12px;
    color: white;
    font-weight: bold;
    margin-top: 25px;
    text-align: center;
}



.log-out{
    background-color: #11AB42 !important;
     color:white !important;
     font-weight: 500 !important;
}

.log-out-icon{
    color:white!important;

}     
.log-out:hover{
    color:white !important;
     background-color: #B90707 !important;
}

.log-out-icon:hover{
    color:white !important;

}  

.append-button {
  width: 150px;
  height: 40px;
  background-color: rgba(128, 128, 128, 0.52);
  color: white;
  border: none;
  border-radius: 3px;
  font-weight: 200; 
  font-size: 13px;
  transition:0.3s;
}

.page-footer .page-footer-inner {
    color: #FFFFFF !important;
}

.append-button:hover{
  background-color: rgba(128, 128, 128, 0.8);
}

.append-button:focus{
  outline: 0;
}

.border-top-blue{
      border-top: solid 1px #01c515 !important;
    border: none;
}
.border-bottom-blue{
      border-bottom: solid 1px #01c515 !important;
    border: none;
}

/*SIDENAV END*/
